
body{
    background-image: url('BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    /* height: 1000px;  */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.main-container{
    display: flex;
    height: 900px;
    flex-direction: column;
    width: 700px;
    padding: 20px;
    align-items: center;
    animation: 0.5s slide-up;
    margin-top:0%;
    

}

@keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%; 
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }
  }


.clock{
    
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: 30px;
    overflow: hidden; 
    background-image: url('clockimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid rgb(53, 49, 49);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
}

.needle{
    position: absolute;
    height: 200px;
    width: 12px;
    align-items: center;
    z-index: 10;
    background-color: black;
    left: 243px;
    top: 40px;
    border-radius: 40%;
    transform: rotate();
    transform-origin: bottom;
    align-items: center;
    /* box-shadow: 10px 5px 2px gray; */




}

.hours{
    height: 160px;
    width: 12px;
    top: 100px;    
    background-color: red;
    border-radius: 70%;
    /* box-shadow: 10px 5px 2px rgb(190, 147, 147); */
    z-index: 13;




}

.minutes{
    top: 70px;
    height: 190px;
    width: 10px;
    border-radius: 50%;
    background-color:black;
    


}

.seconds{
    height: 170px;
    z-index: 14;
    width: 8px;
    background-color:silver;
    top: 90px;
    left: 245px;
    


}

.mseconds{
    height: 180px;
}

.center-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 20;
    top: 238px;
    left: 235px;
}

.digital-container{
    /* margin: auto; */
    position: absolute;
    background-color: white;
    height: 80px;
    width: 400px;
    /* left: 715px; */
    top: 600px;
    border-radius: 30px;
    /* padding-top: 2px; */
    color: black;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    border: 2px solid lightgray;
}

.mseconds{
    width: 2px;
    background-color:silver;
    top: 75px;
    
}
