body{
    background-image: url('BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    height: 1000px; 
    display: flex;
    justify-content: center;

}

.main-container{
    display: flex;
    height: 900px;
    flex-direction: column;
    width: 700px;
    padding: 20px;
    align-items: center;
}

.clock{
    position: absolute;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    top: 30px;
    overflow: hidden; 
    background-image: url('clockimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid rgb(53, 49, 49);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
}

.needle{
    position: absolute;
    height: 260px;
    width: 12px;
    align-items: center;
    z-index: 10;
    background-color: black;
    left: 320px;
    top: 96px;
    border-radius: 40%;
    transform: rotate();
    transform-origin: bottom;
    align-items: center;
    /* box-shadow: 10px 5px 2px gray; */




}

.hours{
    height: 180px;
    width: 15px;
    top: 155px;
    background-color: red;
    border-radius: 70%;
    /* box-shadow: 10px 5px 2px rgb(190, 147, 147); */
    z-index: 13;




}

.minutes{
    top: 110px;
    height: 220px;
    width: 15px;
    border-radius: 50%;
    background-color:gray;
    /* box-shadow: 10px 5px 2px rgb(204, 200, 200); */


}

.seconds{
    z-index: 14;
    width: 5px;
    background-color:silver;
    top: 75px;
    


}

.center-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 20;
    top: 315px;
    left: 312px;
}

.digital-container{
    /* margin: auto; */
    position: absolute;
    background-color: white;
    height: 80px;
    width: 400px;
    /* left: 715px; */
    top: 730px;
    border-radius: 30px;
    /* padding-top: 2px; */
    color: black;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    border: 2px solid lightgray;
}

.mseconds{
    width: 2px;
    background-color:silver;
    top: 75px;
    
}